*{
    box-sizing: border-box;
}
.conteiner{
    width: 1200px;
    margin: 50px auto;
}
.row:after {
    content: "";
    display: block;
    clear: both;
}
[class*="col-"]{
    border: 1px solid grey;
    float: left;
    width: 270px;
    margin: 15px;
}
li{ 
    border-bottom: 1px solid grey;  
}
a{
    text-decoration: none;   
}
li:last-child{
    border: none;
}
.li-grey{
    height: 50px;
    padding-top: 15px;
}
li{
    text-align: center;
}
.grey{
    color: grey;
}
.li-start{
    height: 80px;
    padding-top: 20px;
}
.start{
    color: green;
    font-size: 35px;   
}
.li-price-green{
    height: 120px;
    padding-top: 25px;
}
.price-green{
    color: green;  
}
h1{
    color: grey; 
    font-size: 15px; 
}
[class*="li-join"]{
    height: 80px;
    padding-top: 28px;
}
.join-green{
    border-radius: 25px;
    background-color: green;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}
/*второй*/
.li-good{
    height: 80px;
    padding-top: 20px;
}
.good{
    color: yellow;
    font-size: 35px;   
}
.li-price-yellow{
    height: 120px;
    padding-top: 25px;
}
.price-yellow{
    color: yellow;
     
}
[class*="price-"]{
    font-size: 50px;
}
.join-yellow{
    border-radius: 25px;
    background-color: yellow;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}
/*третий*/
.li-ultima{
    height: 80px;
    padding-top: 20px;
}
.ultima{
    color: red;
    font-size: 35px;    
}
.li-price-red{
    height: 120px;
    padding-top: 25px;
}
.price-red{
    color: red;
}
.join-red{
    border-radius: 25px;
    background-color: red;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}
/*четвертый*/
.li-vip{
    height: 80px;
    padding-top: 20px;
}
.vip{
    color: blue;
    font-size: 35px;  
}
.li-price-blue{
    height: 120px;
    padding-top: 25px;
}
.price-blue{
    color: blue;
}
.join-blue{
    border-radius: 25px;
    background-color: blue;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}
/*адаптивность*/
@media(max-width: 768px){
    .conteiner{
        width: 300px;
        margin-left: 0 auto;
    }
    [class*="col-"]{
        width: 300px;
        margin-left: 5px;
        margin-right: 50px;
    }
}
@media(min-width: 768px) and (max-width: 992px){
    .conteiner{
        width: 769px;
        margin: 0 auto;
        margin-top: 15px;
    }
    [class*="col-"]{
        width: 350px;
        margin: 15px;
    }
    .col-start{
        margin-left: 15px;
    }
    .col-ultima{
        margin-left: 15px;
    }
    .col-good{
        margin-right: 15px;
    }
    .col-vip{
        margin-right: 15px;
    }
}   
